# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# minecraft

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

*.lock
~/.gradle
/.gradle/8.7/checksums
.gradle/8.7/
.gradle/loom-cache/remapped_mods/net_fabricmc_yarn_1_21_1_1_21_1_build_3_v2/net/fabricmc/fabric-api/fabric-rendering-data-attachment-v1/0.3.49+73761d2e19/fabric-rendering-data-attachment-v1-0.3.49+73761d2e19-sources.jar b/.gradle/loom-cache/remapped_mods/net_fabricmc_yarn_1_21_1_1_21_1_build_3_v2/net/fabricmc/fabric-api/fabric-rendering-data-attachment-v1/0.3.49+73761d2e19/fabric-rendering-data-attachment-v1-0.3.49+73761d2e19-sources.jar